<!DOCTYPE html>
<html>
    <head>
        <title>Flask Template Example</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            div#main {
                max-width: 500px;
                padding: 20px;
            }

            nav .title {                                                        
                font-weight: bold;
            }

            a.active {
                font-weight: bold;
            }
        </style>
    </head>
    <body>
        <div id="main">
            <!-- <p>Value from the list: {{ride_tup[0]}}</p> -->
            <h1>Recent Laps and HRs</h1>
            <!-- <table style="width:100%">
                <tr>
                    <th>Lap ID</th>
                    <th>Heart Rate</th>
                    <th>Blank</th>
                </tr>
                {% for ride in ride_tup %}
                  {% for lap in ride %}
                    {% if lap.get('average_heartrate') %}
                <tr>
                    <td>{{lap['id']}}</td>
                    <td>{{lap['average_heartrate']}}</td>
                </tr>
                    {% else %}
                <tr>
                    <td>{{lap['id']}}</td>
                </tr>
                {% endif %}
                {% endfor %}
                {% endfor %}
            </table> -->
        </div>
        <div>
            {{table}}
        </div>
    </body>
</html>

